################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/uialberto.github.io/FileContentIndex/50d37cce-6f6f-4eec-a1ea-390b06c2da50.vsidx
/.vs/slnx.sqlite
